<div class="adddata">
    <h3>Cập nhật</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {{#if msg}}
            <p class="text-danger">{{{msg}}}</p>
        {{/if}}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Tên hàng</label>
            <input type="text" name="tensanpham" class="form-control" id="exampleFormControlInput1"
                   placeholder="Tên sản phẩm" value="{{itemProd.tensanpham}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Mô tả</label>
            <input type="text" name="mota" class="form-control" id="exampleFormControlInput1"
                   placeholder="Mô tả" value="{{itemProd.mota}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Giá</label>
            <input type="text" name="giasanpham" class="form-control" id="exampleFormControlInput1"
                   placeholder="Giá sản phẩm" value="{{itemProd.giasanpham}}">
        </div>
        <div class="mb-3">
            <span class="form-label">Loại : </span>
            <select class="form-select" aria-label="Default select example" name="loai">
                <option selected >{{itemProd.loai}}</option>
                <option value="Điện thoại">Điện thoại</option>
                <option value="Máy tính">Máy tính</option>
                <option value="Ipad">Ipad</option>
                <option value="Đồng hồ">Đồng hồ</option>
                <option value="Tai nghe">Tai nghe</option>
                <option value="Phụ kiện">Phụ kiện</option>
            </select>
        </div>
        <label>Ảnh</label>
        <div>
            <input type="file" id="image" multiple name="anhsanpham" value="{{itemProd.anhsanpham}}" /> <br><br>
        </div>
        <br>
        <Button type="submit" class="btn btn-primary">Thêm</Button>
        <a href="/products" class="btn btn-primary">List</a>
    </form>

</div>